<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="GHGConnectionString" 
        value="DefaultEndpointsProtocol=https;AccountName=ghg;AccountKey=ff1ZETPpHFuT+tPoJkJ8N1soKqxWjJguiWqvwoc5KNB/xpXft6YkBizmMQSkCR2Y90QoKM5PsZgPa5EhktIPoA=="/> 
 </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>

