<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MvvmLight1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="GHGConnectionString" 
         value="DefaultEndpointsProtocol=https;AccountName=ghg;AccountKey=df0/vS2qtAItq5yFUW25ItQQeTqZMDEVO7xdqt9nchBvkD+3CinBrk1BoHJpUJLB3Zeyc8rXIe+EgzrSYLMg+A==" />
    <add key ="ZAConnectionString"
         value ="DefaultEndpointsProtocol=https;AccountName=ghza;AccountKey=YsJXx06iYbDNL1afQY5J+Ammzilqq+QLYZxOtqDCwr24WYLB+Ng0+3FXYhl9QcEoHSITuK57JORBQI4db/V3Ig=="/>
    <add key ="SZConnectionString"
           value ="DefaultEndpointsProtocol=https;AccountName=ghsw;AccountKey=bLXJ++sc8R5anm7PaXP8GRDhyKN0PidW0EKFJBThsj9l67zVZAFAbb5u7OQwV6aYkkKdyGVF5c9iGtmLQRg5Vg==" />
    <add key ="LSConnectionString"
      value = "DefaultEndpointsProtocol=https;AccountName=ghls;AccountKey=vdC8T406AzV8D8+53NS9C9LVMELLubS+jhmJunbbLeZ6l0DkdQqfdPv69yEXEsNzDn4BMHzrW8J5L1i/GTkdLw=="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <MvvmLight1.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>False</value>
      </setting>
    </MvvmLight1.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>