<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MvvmLight1.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="GHGConnectionString"
         value ="DefaultEndpointsProtocol=https;AccountName=ghg;AccountKey=df0/vS2qtAItq5yFUW25ItQQeTqZMDEVO7xdqt9nchBvkD+3CinBrk1BoHJpUJLB3Zeyc8rXIe+EgzrSYLMg+A=="/>     
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <MvvmLight1.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>False</value>
      </setting>
    </MvvmLight1.Properties.Settings>
  </userSettings>
</configuration>