<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="CommonServiceLocator" version="1.3" targetFramework="net4-client" userInstalled="true" />
  <package Id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net4-client" userInstalled="true" />
  <package Id="Microsoft.Data.OData" version="5.6.1" targetFramework="net4-client" userInstalled="true" />
  <package Id="Microsoft.Data.Services.Client" version="5.6.1" targetFramework="net4-client" userInstalled="true" />
  <package Id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net4-client" userInstalled="true" />
  <package Id="MvvmLight" version="5.2.0.0" targetFramework="net4-client" userInstalled="true" />
  <package Id="MvvmLightLibs" version="5.2.0.0" targetFramework="net4-client" userInstalled="true" />
  <package Id="Newtonsoft.Json" version="7.0.1" targetFramework="net4-client" userInstalled="true" />
  <package Id="System.Spatial" version="5.6.1" targetFramework="net4-client" userInstalled="true" />
  <package Id="WindowsAzure.Storage" version="4.1.0" targetFramework="net4-client" userInstalled="true" />
  <package Id="Wpf.Themes.ExpressionDark" version="1.1.0" targetFramework="net4-client" userInstalled="true" />
</packages>